In [1]:
import pandas as pd
import math
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from collections import defaultdict
from scipy.stats.stats import pearsonr
import seaborn as sn

In [2]:
df = df = pd.read_csv('dataset/matches_datacleaning.csv', index_col = 0)
pd.set_option('display.max_columns', None) # to visualize all the columns
df.info()

/Users/domenico/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184890 entries, 0 to 186072
Data columns (total 51 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          184890 non-null  object
 1   tourney_name        184890 non-null  object
 2   surface             184728 non-null  object
 3   draw_size           184890 non-null  float64
 4   tourney_level       184890 non-null  object
 5   tourney_date        184890 non-null  object
 6   match_num           184890 non-null  float64
 7   winner_id           184890 non-null  float64
 8   winner_entry        25701 non-null   object
 9   winner_name         184890 non-null  object
 10  winner_hand         184874 non-null  object
 11  winner_ht           48560 non-null   float64
 12  winner_ioc          184890 non-null  object
 13  winner_age          182080 non-null  float64
 14  loser_id            184890 non-null  float64
 15  loser_entry         43927 non-null   object
 16  loser_name          184890 non-null  object
 17  loser_hand          184819 non-null  object
 18  loser_ht            37726 non-null   float64
 19  loser_ioc           184890 non-null  object
 20  loser_age           178419 non-null  float64
 21  score               184723 non-null  object
 22  best_of             184890 non-null  float64
 23  round               184890 non-null  object
 24  minutes             184890 non-null  float64
 25  w_ace               129765 non-null  float64
 26  w_df                129765 non-null  float64
 27  w_svpt              184890 non-null  float64
 28  w_1stIn             184890 non-null  float64
 29  w_1stWon            184890 non-null  float64
 30  w_2ndWon            81339 non-null   float64
 31  w_SvGms             184890 non-null  float64
 32  w_bpSaved           184890 non-null  float64
 33  w_bpFaced           184890 non-null  float64
 34  l_ace               128104 non-null  float64
 35  l_df                128104 non-null  float64
 36  l_svpt              184890 non-null  float64
 37  l_1stIn             184890 non-null  float64
 38  l_1stWon            184890 non-null  float64
 39  l_2ndWon            81339 non-null   float64
 40  l_SvGms             184890 non-null  float64
 41  l_bpSaved           184890 non-null  float64
 42  l_bpFaced           184890 non-null  float64
 43  winner_rank         165537 non-null  float64
 44  winner_rank_points  165521 non-null  float64
 45  loser_rank          149692 non-null  float64
 46  loser_rank_points   149676 non-null  float64
 47  tourney_spectators  184890 non-null  float64
 48  tourney_revenue     184890 non-null  float64
 49  winner_gender       184801 non-null  object
 50  loser_gender        184801 non-null  object
dtypes: float64(34), object(17)
memory usage: 73.4+ MB

## new database building

In [3]:
name = pd.concat([df['winner_name'], df['loser_name']]) 
#name.rename(columns={0: 'name'}, inplace = True)
name.drop_duplicates(inplace=True)
print(name)


new_df = pd.DataFrame(name)
new_df.set_index(name, inplace=True)

#new_df.index.names = ['name']

0              KEI NISHIKORI
1            DANIIL MEDVEDEV
3         JO-WILFRIED TSONGA
5              JEREMY CHARDY
8             ALEX DE MINAUR
                 ...
185021      DILARA SULTANOVA
185560      MADELEINE JESSUP
185780            KATIE CODD
185781             AMY HUANG
185940       CHLOE HENDERSON
Length: 10098, dtype: object

In [4]:
col1=df[['winner_name','winner_hand']]
col2=df[['loser_name','loser_hand']]
col2.rename(columns={'loser_name': 'winner_name'}, inplace = True)
col2.rename(columns={'loser_hand': 'winner_hand'}, inplace = True)
name2 = col1.append(col2) 
name2.rename(columns={'winner_name': 'name','winner_hand':'hand'}, inplace = True)
name2.drop_duplicates(inplace=True)
print(name2)

                      name hand
0            KEI NISHIKORI    R
1          DANIIL MEDVEDEV    R
3       JO-WILFRIED TSONGA    R
5            JEREMY CHARDY    R
8           ALEX DE MINAUR    R
...                    ...  ...
185021    DILARA SULTANOVA    U
185560    MADELEINE JESSUP    U
185780          KATIE CODD    U
185781           AMY HUANG    U
185940     CHLOE HENDERSON    U

[10100 rows x 2 columns]

/Users/domenico/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [5]:
df['winner_hand'].isnull().sum()

16

In [6]:
WinnerId_name = df.groupby(['winner_name']).winner_hand.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
WinnerId_name = WinnerId_name[WinnerId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

print(WinnerId_name)

Series([], Name: winner_hand, dtype: int64)

In [7]:
WinnerId_name = df.groupby(['loser_name']).loser_hand.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
WinnerId_name = WinnerId_name[WinnerId_name == 0] # it contains the TourneyId values associated with more than one Tourneyname value

print(WinnerId_name)

loser_name
ADAM HORNBY                      0
AINIUS SABALIAUSKAS              0
ALEX DIAZ                        0
ALEX KNAFF                       0
BERUK TSEGAI                     0
BRUNO BRITEZ                     0
CHRISTOPHE THOLL                 0
DAC TIEN NGUYEN                  0
FILIPPO MOGGIAN                  0
GIANMARCO DE SANTIS              0
HADY HABIB                       0
HERNANDO JOSE ESCURRA ISNARDI    0
IGNACIO GARCIA                   0
ILLIA BILOBORODKO                0
ISABEL PASCUAL MONTALVO          0
JEROME KYM                       0
JOSE OLIVARES                    0
LINH GIANG TRINH                 0
MATTHEW FOSTER ESTWICK           0
MICHAEL OGDEN                    0
MINJONG PARK                     0
NICOLAS XIVILLER                 0
PETER BERTRAN                    0
RONG MA                          0
ROSS WATSON                      0
SEBASTIAN ARCILA                 0
SEBASTIAN DOMINGUEZ              0
SEBASTIAN QUIROS                 0
WILLIAM KIRKMAN                  0
XAVIER LAWRENCE                  0
YASITHA DE SILVA                 0
Name: loser_hand, dtype: int64

In [8]:
print(df[df.winner_name=='ANASTASIA KULIKOVA'])

                 tourney_id    tourney_name surface  draw_size tourney_level  \
13271   W-WITF-BLR-03A-2017      MINSK $15K    Hard       32.0            15
16988   W-WITF-FIN-03A-2017   HELSINKI $15K    Hard       32.0            15
16997   W-WITF-FIN-03A-2017   HELSINKI $15K    Hard       32.0            15
17002   W-WITF-FIN-03A-2017   HELSINKI $15K    Hard       32.0            15
24211   W-WITF-SWE-05A-2017  STOCKHOLM $15K    Hard       32.0            15
...                     ...             ...     ...        ...           ...
182507   W-ITF-POR-07A-2020    W15 SANTAREM    Hard       32.0            15
182731   W-ITF-POR-11A-2020       W15 PORTO    Hard       32.0            15
182742   W-ITF-POR-11A-2020       W15 PORTO    Hard       32.0            15
182748   W-ITF-POR-11A-2020       W15 PORTO    Hard       32.0            15
183732   W-ITF-TUN-07A-2020    W15 MONASTIR    Hard       32.0            15

       tourney_date  match_num  winner_id winner_entry         winner_name  \
13271    2017-11-20        5.0   214741.0            Q  ANASTASIA KULIKOVA
16988    2017-11-13       14.0   214741.0           WC  ANASTASIA KULIKOVA
16997    2017-11-13       23.0   214741.0           WC  ANASTASIA KULIKOVA
17002    2017-11-13       28.0   214741.0           WC  ANASTASIA KULIKOVA
24211    2017-10-30        7.0   214741.0          NaN  ANASTASIA KULIKOVA
...             ...        ...        ...          ...                 ...
182507   2020-09-14      113.0   214741.0          NaN  ANASTASIA KULIKOVA
182731   2020-09-21      110.0   214741.0          NaN  ANASTASIA KULIKOVA
182742   2020-09-21      205.0   214741.0          NaN  ANASTASIA KULIKOVA
182748   2020-09-21      303.0   214741.0          NaN  ANASTASIA KULIKOVA
183732   2020-02-17      108.0   214741.0          NaN  ANASTASIA KULIKOVA

       winner_hand  winner_ht winner_ioc  winner_age  loser_id loser_entry  \
13271            L        NaN        RUS        18.0  214546.0         NaN
16988            L        NaN        RUS        18.0  216119.0         NaN
16997            L        NaN        RUS        18.0  206419.0         NaN
17002            L        NaN        RUS        18.0  202471.0         NaN
24211            L        NaN        RUS        18.0  214868.0         NaN
...            ...        ...        ...         ...       ...         ...
182507           L        NaN        FIN        21.0  212043.0           Q
182731           L        NaN        FIN        21.0  211903.0         NaN
182742           L        NaN        FIN        21.0  206430.0         NaN
182748           L        NaN        FIN        21.0  211063.0         NaN
183732           L        NaN        FIN        20.0  220160.0           Q

                               loser_name loser_hand  loser_ht loser_ioc  \
13271                 EKATERINA KAZIONOVA          R       NaN       RUS
16988                       MAILEEN NUUDI          R       NaN       EST
16997                        KARIN KENNEL          R       NaN       SUI
17002                        KAREN BARBAT          R       NaN       DEN
24211                 VALERIYA YUSHCHENKO          R       NaN       RUS
...                                   ...        ...       ...       ...
182507                     FREYA CHRISTIE          U       NaN       GBR
182731                     BARBARA GATICA          U       NaN       CHI
182742  CAROLINA MELIGENI RODRIGUES ALVES          U       NaN       BRA
182748                 VALERIYA STRAKHOVA          U       NaN       UKR
183732                    ROMANA CISOVSKA          U       NaN       SVK

        loser_age           score  best_of round  minutes  w_ace  w_df  \
13271        19.0             W/O      3.0   R32     60.0    4.0   2.0
16988        17.0         6-2 6-1      3.0   R32     60.0    4.0   2.0
16997        22.0  6-3 6-7(5) 6-3      3.0   R16     60.0    4.0   2.0
17002        25.0  2-6 7-6(4) 7-5      3.0    QF     60.0    4.0   2.0
24211        18.0         6-1 6-0      3.0   R32     60.0    4.0   2.0
...           ...             ...      ...   ...      ...    ...   ...
182507       23.0         6-2 6-0      3.0   R32     60.0    4.0   2.0
182731       24.0         6-3 6-2      3.0   R32     60.0    4.0   2.0
182742       24.0         6-3 6-4      3.0   R16     60.0    4.0   2.0
182748       25.0     6-4 0-6 6-2      3.0    QF     60.0    4.0   2.0
183732       17.0         7-5 6-4      3.0   R32     60.0    4.0   2.0

           w_svpt    w_1stIn   w_1stWon  w_2ndWon   w_SvGms  w_bpSaved  \
13271   46.497135  28.552372  22.607609       NaN  7.165712   1.889526
16988   48.473445  30.748272  25.023099       NaN  7.824482   1.450346
16997   48.478230  30.753589  25.028948       NaN  7.826077   1.449282
17002   48.480889  30.756543  25.032197       NaN  7.826963   1.448691
24211   52.313877  35.015419  29.716961       NaN  9.104626   0.596916
...           ...        ...        ...       ...       ...        ...
182507  49.000000  35.000000  24.000000       NaN  9.000000   0.000000
182731  49.000000  35.000000  24.000000       NaN  9.000000   0.000000
182742  49.000000  35.000000  24.000000       NaN  9.000000   0.000000
182748  49.000000  35.000000  24.000000       NaN  9.000000   0.000000
183732  49.000000  35.000000  24.000000       NaN  9.000000   0.000000

        w_bpFaced  l_ace  l_df     l_svpt    l_1stIn   l_1stWon  l_2ndWon  \
13271    2.834288    NaN   NaN  40.706623  17.988539   8.491404       NaN
16988    2.175518    1.0   4.0  51.466533  25.893779  14.420334       NaN
16997    2.173923    NaN   NaN  51.492586  25.912920  14.434690       NaN
17002    2.173037    1.0   1.0  51.507060  25.923554  14.442666       NaN
24211    0.895374    NaN   NaN  72.375554  41.255509  25.941632       NaN
...           ...    ...   ...        ...        ...        ...       ...
182507   2.000000    3.0   5.0  67.000000  37.000000  12.000000       NaN
182731   2.000000    0.0   3.0  67.000000  37.000000  12.000000       NaN
182742   2.000000    0.0   1.0  67.000000  37.000000  12.000000       NaN
182748   2.000000    1.0   4.0  67.000000  37.000000  12.000000       NaN
183732   2.000000    NaN   NaN  67.000000  37.000000  12.000000       NaN

         l_SvGms  l_bpSaved  l_bpFaced  winner_rank  winner_rank_points  \
13271   6.276186   2.110474   7.889526          NaN                 NaN
16988   7.374136   2.549654   7.450346          NaN                 NaN
16997   7.376794   2.550718   7.449282          NaN                 NaN
17002   7.378271   2.551309   7.448691          NaN                 NaN
24211   9.507710   3.403084   6.596916          NaN                 NaN
...          ...        ...        ...          ...                 ...
182507  9.000000   7.000000  13.000000        534.0                68.0
182731  9.000000   7.000000  13.000000        538.0                68.0
182742  9.000000   7.000000  13.000000        538.0                68.0
182748  9.000000   7.000000  13.000000        538.0                68.0
183732  9.000000   7.000000  13.000000        522.0                68.0

        loser_rank  loser_rank_points  tourney_spectators  tourney_revenue  \
13271        477.0               68.0              2858.0        645834.66
16988          NaN                NaN              2748.0        586611.71
16997        531.0               54.0              2748.0        586611.71
17002        506.0               59.0              2748.0        586611.71
24211        878.0               14.0              2985.0        512699.52
...            ...                ...                 ...              ...
182507       649.0               46.0              2378.0        507010.39
182731       460.0               91.0              2838.0        516816.84
182742       398.0              116.0              2838.0        516816.84
182748       384.0              123.0              2838.0        516816.84
183732      1223.0                5.0              3408.0        687780.93

       winner_gender loser_gender
13271              F            F
16988              F            F
16997              F            F
17002              F            F
24211              F            F
...              ...          ...
182507             F            F
182731             F            F
182742             F            F
182748             F            F
183732             F            F

[129 rows x 51 columns]

In [9]:

LoserId_name = df.groupby(['winner_name']).loser_hand.nunique() # it contains each value of TourneyId and the number of Tourneyname values it is associated with 
LoserId_name = LoserId_name[LoserId_name > 1] # it contains the TourneyId values associated with more than one Tourneyname value

df[df.winner_name.isin(LoserId_name.index)].groupby(['winner_name']).loser_hand.unique()

winner_name
AANU AYEGBUSI                   [R, U]
AARON ADDISON                   [L, R]
ABBIE MYERS                  [R, U, L]
ABHINAV SANJEEV SHANMUGAM    [L, R, U]
ABIGAIL DESIATNIKOV          [U, L, R]
                               ...
ZOFIA PODBIOL                   [U, R]
ZORA HUDSON                     [U, R]
ZOZIYA KARDAVA               [U, R, L]
ZSOMBOR PIROS                [L, R, U]
ZUZANA ZLOCHOVA              [U, R, L]
Name: loser_hand, Length: 4132, dtype: object